.btn{
    position: relative;
    margin: 0 auto;
    max-width: 343px;
    padding: 16px 40px;
    background-color: #F9FBFD;
    border: 1px solid #212121;
    text-align: center;
    border-radius: 4px;
    font-family: "YuGothic","Yu Gothic";
    box-sizing:border-box;
    transition: all 0.5s;
    margin: 0 auto;
}

.btn:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #212121;
    width: 0;
    height: 100%;
    transition: all 0.3s ease-out;
    z-index: 0;
}

.btn-container{
    display: flex;  

}

.btn-container p{
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 24px;
    margin: 0;  
}

.btn-text{
    width: 100%;
    text-align: center;
    z-index: 1;
}

.ic-grid{
    height: 24px;
    width: 24px;
    margin-right: 12px;
    padding: 0;
    z-index: 1;

}

.ic-grid path{
    fill:#212121;
    transition: all 0.5s;

}

.btn:hover{
    color: white;
}

.btn:hover:before{
    width: 100%;
}

.btn:hover .ic-grid path{
    fill: white;
}

a{
    text-decoration: none;
    color: #212121;
}

@media (max-width: 599px) {
    .btn{
        width: 100%;
        background-color: white;
        border: 1px solid #212121;
        text-align: center;
        border-radius: 4px;
        color: #212121;
        font-family: "YuGothic","Yu Gothic";
        box-sizing:border-box;
        transition: all 0.2s;
        padding: 0;
        
    }

    .btn-container{
        display: inline-flex;
        margin: 16px auto;
    }


}