.btn-attention{
    padding: 16px 20px;
    background-color: white;
    border: 1px solid #EF4949;
    text-align: center;
    border-radius: 4px;
    color: #000;
    font-family: "YuGothic","Yu Gothic";
    width: 416px;
    box-sizing: border-box;
}

.btn-attention-container{
    display: flex;
}

.btn-attention p{
    font-size: 16px;
    font-weight: 700;
    
    line-height: 16px;
    margin: 0;
    color: #EF4949;
    text-align: center;
}