.news-item{
    width: 32%;
    min-width: 320px;
    text-align: left;
    margin-bottom: 16px;
    transition: all 0.3s;
    overflow: hidden;
  }

  .news-item a{
    text-decoration: none;
  }


  .news-item-image{
      width: 100%;
      height: auto;

      transition: all 0.3s;
  }

  .news-image-container{
    border-radius: 8px;
    max-height:228px;
    margin-bottom: 12px;
    overflow: hidden;
  }

.news-item-info{
  position: relative;
}

.news-item-date{
    font-family: YuGothic;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    letter-spacing: 0.05em;
    color: #777;
    margin-bottom: 4px;
}

  .news-item-text{
    position: relative;
    font-family: YuGothic;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    letter-spacing: 0.05em;
    color: #777;

    margin-top: 4px;

    width: 100%;
    height: 40px;
     
    overflow: hidden;  
    text-overflow: ellipsis;  
    -webkit-text-overflow: ellipsis;  
    -o-text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    
  }
  

  .news-item-title{
    font-family: YuGothic;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 0.05em;
    margin: 0 0;
    position: relative;
    text-decoration: none;
    color: #212121;
    transition: all 0.3s;

    width: 100%;
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    -webkit-text-overflow: ellipsis;  
    -o-text-overflow: ellipsis;  

  }

  .news-item:hover .news-item-title{
    color: #EB548A;
  }

  .news-item:hover .news-item-image{
    transform:scale(1.1,1.1);
  }

@media (max-width: 768px) {
}

@media (max-width: 768px) {
  .news-item{
  width: 100%;
  min-width: 0;
  }

  .news-item-container{
    display: flex;
  }

  .news-item-image{
    width: 112px;
    height: 112px;
    object-fit: cover;
    margin-right: 12px;
    margin-bottom: 0;
    border-radius: 4px;
  }

  .news-item-info{
    width: calc(100% - 124px);
  }

  .news-item-text{
    height: auto;
    max-height: 40px;
    -webkit-line-clamp: 2;
  }

  .news-item-title{
  display: -webkit-box;
  max-height: 40px;
  white-space: normal;  
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  }

  .news-item:hover .news-item-image{
    transform:scale(1,1);
  }


}