.sns-vertical{
    position: fixed;
    right: 100px;
    top: 120px;
    z-index: 10;
}

.sns-icons-vertical{
    border:solid #212121 ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-width:1px 0;
    margin: 0 auto;
    margin-top: 16px;
    padding: 12px 0 8px 0;
    width: 20px;
    height:80px ;
}

.vertical{
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;   
    line-height: 20px;
    font-size: 14px; 
    letter-spacing: 0.08rem;
    writing-mode: vertical-rl;
    margin: 0;
}

@media (max-width: 768px) {
    .sns-vertical{
        right: 36px;
    }

}