
/* ごあいさつ */
.map{
  width: 50%;
  height: 260px;
  border-radius: 8px;
}

.writername{
  text-align: right;
}

/* コンセプト */
.conceptContents{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
}

.conceptTitle{
  width: 493px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 85px;
}

.conceptTitle p{
  font-weight: bold;
  font-size: 80px;
}

.conceptText{
  width: 507px;
  margin: 0 auto;
  margin-bottom: 70px;
}

/* 開催概要 */
.overViewcontents{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  
}

/* アクセス */
.accessContents{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.accessText{
  margin: 0 auto;
  width: 490px;
}

/* h3フォント */
.accessText h3{
  font-family: YuGothic;
  font-size: 24px;
  margin:0 0 0 0;
}

.accessMap{
  width: 506px;
  height: 260px;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.bigMap{
  list-style: none;
  display:flex;
  padding: 0;
  margin: 0 0 32px 0;
}

.bigMap h4{
  text-decoration: underline;
}