.App {
  text-align: center;
  color: #212121;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.scroll{
  width: 62px;
  height: 88px;
  margin: 0 auto;
  margin-bottom: 32px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.top{
  max-width: 1240px;
  margin: 0 100px;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  
  justify-content: center;

}

.App-link {
  color: #61dafb;
  margin-bottom: 60px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.works-container{
  margin-bottom: 120px;
}

/*中央揃えにできない*/
.works-list{
  display: flex;
  flex-wrap: nowrap;
  justify-content: unset;
  width: 100%;
  overflow: hidden;
}


.container{
  max-width: 1120px;
  padding: 0 100px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.news-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio-text{
  max-width:343px;
  margin: 0 auto;
}

.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



/*ページ共通要素*/

h2 {
  position: relative;
  padding: 0 65px;
  text-align: center;
  font-family: Europa-Light;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 52px;
}

h4{
  font-family: YuGothic;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  letter-spacing: 0.05em;
  margin: 0 0;

}

p{
  font-family: YuGothic;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.05em;  
}

/* カラー */
.white{
  color: white;
}


/* 開発用 */
.blank240{ /*空白スペース*/
  height: 240px;
}

.mg-120{
  margin-bottom:120px;
}

.mg-40{
  margin-bottom: 40px;
}