.contact-container{
    max-width: 1120px;
    margin: 0 auto;
    margin-bottom: 120px;
    overflow: hidden;
  }

.google-form{
    width: 100%;
    text-align: center;
    position: relative;
    width: 100%;
    padding-top: 150%;
    overflow:auto; 
    -webkit-overflow-scrolling:touch;
}

.google-form iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:none;
    display:block;
}


@media (max-width: 599px) {


}

