.Work{
  background-color: #000;
  position: relative;
  padding-top: 56px;
  margin-top: 0;
}

.work-imgs{
  display: flex;
  justify-content: center;
  height: 320px;
  width: 100%;
  margin-top: 60px;
}

.work-img{
  height: 320px;
  margin-right: 40px;
}

.work-contents-container{
  position: relative;
  background-color: #181818;
  height: 200px;
  margin-top: 60px;
  padding: 20px 0;
}

.work-contents{
  width: 1024px;
  margin: 0 auto;
}

.work-contents hr{
  width: 100%;
  border: #303030 solid 1px;
  margin-bottom: 24px;
}

.work-about{
  display: flex;
  margin-bottom: 24px;
}

.kanji{
  width: 80px;
}

.work-title{
  margin-left: 20px;
}

.title{
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.05em;
  color: #fff;
  margin-bottom: 8px;
}

.name-lab{
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.05em;
  color: #AAA;
}

.test{
  background-color: #fff;
}

@media (max-width: 768px) {
    .works-wrapper{
        max-width: 688px;
        margin: 0 auto;
    }
    
  }

@media (max-width: 599px) {
    .works-wrapper{
        max-width: 345px;
        margin: 0 auto;
    }
    
  }